*{
    padding: 0px;
    margin: 0px;
}
h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}
body{
    background-color: #addfd6;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
/* Header Y sus Elementos*/
header{
    background-color: #82bbbb;
    color: whitesmoke;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
}
.links{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
#Logo{
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
nav{
    height: 100%;
}
.navegador{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a{
    transition: 2s;
}
a:hover{
    font-size: 35px;
    color: chartreuse;
}
/*main*/
main{
    padding-top: 110px;
}
.uno {
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    background-color: whitesmoke;
    clear: both;
    width: 70%;
    margin: auto;
    border: 1px solid black;
    height: 300px;
}
#fot{
    width: 40%;
    border: black 1px solid;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
 
 
