*{
    padding: 0px;
    margin: 0px;
}
h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
p{
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}
body{
    background-color: #addfd6;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
 
/* Header Y sus Elementos*/
header{
    background-color: #82bbbb;
    color: whitesmoke;
    position:fixed;
    width: 100%;
    height: 100px;
    grid-area:head;
    z-index: 2;
}
.links{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
a{
    transition: 2s;
}
a:hover{
    font-size: 35px;
    color: chartreuse;
}
#Logo{
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
nav{
    height: 100%;
    z-index: 2;
}
.navegador{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/*main*/
main{
    padding-top: 120px;
    width: 100%;
    background-color: #addfd6 ;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
.txt{
    width: 100%;
    margin:1.5%;
    padding:1% 5% 1% 5%;
    border: 1px black solid;
    background-color: whitesmoke;
    transform: skewX(-4deg);
}
.texto{
    width: 100%;
    margin:1.5%;
    padding:1% 5% 1% 5%;
    border: 1px black solid;
    background-color: whitesmoke;
    transform: skewX(4deg);
}
#imagen{
    width: 100%;
    margin:1% 0.5% 1% 2.5%;
    padding:1% 5% 1% 5%;
    margin-top: 5%;
}
#imagen :hover{
    transform: scale(1.2);
}
img{
    width: 70%;
    border: solid black 2px;
    transition: transform 2s;
}

table{
    border: black solid;
    margin-left: 1%;
    margin-bottom: 10%;
    height: 500px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background-color: whitesmoke;
}
.tab{
    grid-area: tabla;
    width: 35%;
    float: right;
    transform: translatex(-7px);
}

.titulo{
    font-size: 20px;
    font-weight: bold;
}

/*Footer*/
form{
    background-image:linear-gradient(to right, whitesmoke,whitesmoke,#82bbbb);
    margin-top: 10px;
    font-size: 17px;
    margin-top: 25px;
    clear: both;
}
#contacto{
    margin-left: 10%;
    margin-right: 10%;
}
#foot{
    width: 100%;
    height: fit-content;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    background-color:#addfd6 ;
    padding-bottom: 10%;
    padding-top: 5%;
    text-align: center;
}
