@import "bases.scss";
/*main*/
.carousel-inner img {
    width: 100%;
}
main{
    background-color: #addfd6 ;
    padding-top: 110px;
    padding-bottom: 7%;
}
.txt{
    width: 100%;
    margin:2.5%;
    padding:1% 5% 1% 5%;
    border: 1px black solid;
    background-color: whitesmoke;
}
img{
    width: 30%;
    float: left;
    display: flex;
}
.texto{
    float: right;
    width: 60%;
}