@import "bases.scss";

/*main*/
main{
    padding-top: 120px;
    width: 100%;
    background-color: $colorfondo ;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
.articulo{
    width: 100%;
    margin:1.5%;
    padding:1% 5% 1% 5%;
    border: $borde;
    background-color: whitesmoke;
    margin-bottom: 10%;
}
.img{
    border: $borde;
    margin-bottom: 5%;
}
img{
    height: 200px;
}