*{
    padding: 0px;
    margin: 0px;
}
h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}
body{
    background-color: #addfd6;
}

/* Header Y sus Elementos*/
header{
    background-color: #82bbbb;
    color: whitesmoke;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
}
.links{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
#Logo{
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
nav{
    height: 100%;
}
.navegador{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a{
    transition: 2s;
}
a:hover{
    font-size: 35px;
    color: chartreuse;
}
/* main*/
main{
    margin-top: 110px;
    width: 100%;
}
#cripto{
    height: 300px;
    width: 70%;
    background-image: linear-gradient(to bottom,lightblue, white,lightblue);
    margin: auto;
    border: solid black 1px;
}
#stocks{
    height: 300px;
    width: 50%;
    background-image: linear-gradient(to bottom,lightblue, white,lightblue);
    margin: auto;
    border: solid black 1px;
    margin-top: 2.5%;
    transform: rotatez(60deg);
}
#bonos{
    height: 300px;
    width: 70%;
    background-image: linear-gradient(to bottom,lightblue, white,lightblue);
    margin: auto;
    border: solid black 1px;
    margin-top: 2.5%;
}